@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome To The PokeDex Center</h1>
    <p>Here you can look up any pokemon you want on your very own PokeDex!</p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img style="margin-left: 30em;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="bulbasur">
        </div>
        <div class="item">
            <img style="margin-left: 30em;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="charmander">
        </div>

        <div class="item">
            <img style="margin-left: 30em;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="squirtle">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div>
    <a href='@Url.Action("PokeDexView", "Pokemon")' class="btn btn-danger" style="width:100%">To The PokeDex</a>
</div>